[user]
	email = jduplessis294@gmail.com
	name = Jack DuPlessis
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
  excludesfile = ~/.gitignore_global
