!FONT
URxvt.font: xft:Source Code Pro For Powerline:regular:pixelsize=17:antialias=true:hinting=true
URxvt.boldFont: xft:Source Code Pro For Powerline:bold:pixelsize=16:antialias=true:hinting=true
URxvt.italicFont: xft:Source Code Pro For Powerline:italic:pixelsize=16:antialias=true:hinting=true
URxvt.boldItalicFont: xft:Source Code Pro For Powerline:bold:italic:pixelsize=16:antialias=true:hinting=true
URxvt.letterSpacing: -8

!SCROLL
URxvt.scrollBar: false

!WHO NEEDS THIS?
URxvt.iso14755: false
URxvt.iso14755_52: false

!COLORS
! hard contrast: *background: #1d2021
URxvt.background: #282828
! soft contrast: *background: #32302f
URxvt.foreground: #ebdbb2
! Black + DarkGrey
URxvt.color0:  #282828
URxvt.color8:  #928374
! DarkRed + Red
URxvt.color1:  #cc241d
URxvt.color9:  #fb4934
! DarkGreen + Green
URxvt.color2:  #98971a
URxvt.color10: #b8bb26
! DarkYellow + Yellow
URxvt.color3:  #d79921
URxvt.color11: #fabd2f
! DarkBlue + Blue
URxvt.color4:  #458588
URxvt.color12: #83a598
! DarkMagenta + Magenta
URxvt.color5:  #b16286
URxvt.color13: #d3869b
! DarkCyan + Cyan
URxvt.color6:  #689d6a
URxvt.color14: #8ec07c
! LightGrey + White
URxvt.color7:  #a89984
URxvt.color15: #ebdbb2
